



	body{
		 color: #838383; 			}
			body,
		.wrapper,
		.content,
		.full_width,
		.overlapping_content .content > .container,
		.more_facts_holder,
		.comment_holder .comment #respond textarea,
		.comment_holder .comment #respond input[type='text'],
		.comment_holder .comment #respond input[type='email'],
		.content .container
		{
		background-color:#f6f6f6;
		}
		.angled-section polygon{
		fill: #f6f6f6;
		}
		
	


	.header_bottom,
	.header_top,
	.fixed_top_header .bottom_header{
	background-color: rgba(6,66,103,1);
	}

	


	.header_top,
	.header_bottom,
	.title,
	.drop_down .second .inner ul li,
	.header-widget.widget_nav_menu ul.menu li ul li a,
	.header_top #lang_sel ul li ul li a,
	.header_top #lang_sel ul li ul li a:visited,
	.header_top #lang_sel_click ul li ul li a,
	.header_top #lang_sel_click ul li ul li a:visited,
	.drop_down .second .inner > ul,
	.drop_down .second .inner>ul,
	li.narrow .second .inner ul,
	.drop_down .wide .second ul li,
	.drop_down .second ul li
	{
	border-color:#ffffff;
	}

	.title:not(.title_bottom_border_in_grid){
	border-bottom-color:#a5a5a5;
	}
	.title_border_in_grid_holder{
	background-color:#a5a5a5;
	}
	.breadcrumbs,
	.breadcrumb .current,
	.breadcrumb a{
	color:#020202;
	}




	header.sticky .header_bottom{
	background-color: rgba(6,66,103,1) !important;
	}


	.header_top,
	.fixed_top_header .top_header,
	.fixed_top_header nav.mobile_menu{
	background-color: rgba(26,57,86,1);
	}

					header:not(.sticky):not(.scrolled) .header_bottom .container_inner,
			header.fixed_top_header .bottom_header .container_inner{
			border-bottom: 1px solid rgba(255,255,255,1);
			}
				header.sticky .header_top{
	background-color: rgba(26,57,86,0.7);
	}





						.content{
			margin-top: -189px;
			}
		
	
	.logo_wrapper,
	.side_menu_button,
	.shopping_cart_inner
	{
	height: 95px;
	}
	.content.content_top_margin{
	margin-top: 128px !important;
	}

	header:not(.centered_logo) .header_fixed_right_area {
	line-height: 95px;
	}


	header.sticky .logo_wrapper,
	header.sticky.centered_logo .logo_wrapper,
	header.sticky .side_menu_button,
	header.sticky .shopping_cart_inner
	{
	height: 95px !important;
	}

	header.sticky nav.main_menu > ul > li > a,
	.light.sticky nav.main_menu > ul > li > a,
	.light.sticky nav.main_menu > ul > li > a:hover,
	.light.sticky nav.main_menu > ul > li.active > a,
	.dark.sticky nav.main_menu > ul > li > a,
	.dark.sticky nav.main_menu > ul > li > a:hover,
	.dark.sticky nav.main_menu > ul > li.active > a {
	line-height: 95px;
	}



		header.fixed_hiding .q_logo a,
		header.fixed_hiding .q_logo{
		max-height: 108px;
		}
		



	.touchevents .parallax_section_holder{
	height: auto !important;
	min-height: 300px;
	background-position: center top !important;
	background-attachment: scroll;
	background-size: cover;
	}
	nav.main_menu > ul > li > a{
	line-height: 95px;
	}



	nav.main_menu > ul > li > a{
	 color: #272727; 			font-family: 'Roboto', sans-serif;
		 font-size: 15px; 		 font-style: normal; 	 font-weight: 400; 	 letter-spacing: 0px; 	 text-transform: none; 	}


	nav.main_menu > ul > li:not(:first-child):before {
	color: #e2e2e2;
	}

	nav.main_menu ul li:hover a {
	 color: #272727; 	}






	.drop_down .second .inner > ul > li > a,
	.drop_down .second .inner > ul > li > h3,
	.drop_down .wide .second .inner > ul > li > h3,
	.drop_down .wide .second .inner > ul > li > a,
	.drop_down .wide .second ul li ul li.menu-item-has-children > a,
	.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a,
	.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5 a,
	.drop_down .wide .second .inner > ul li .flexslider ul li  h5 a,
	.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5,
	.drop_down .wide .second .inner > ul li .flexslider ul li  h5,
	.header_top #lang_sel ul li ul li a {
	 color: #272727; 			font-family: 'Roboto', sans-serif !important;
		 font-size: 12px; 	 line-height: 22px; 		font-weight: 500; 	 text-transform: none;  	 letter-spacing: 1px;  	}
	.drop_down .second .inner > ul > li > a:hover,
	.drop_down .wide .second ul li ul li.menu-item-has-children > a:hover,
	.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a:hover{
	color: #272727 !important;
	}
	.drop_down .second ul li{
	border-bottom-style:solid;
	}
	li.narrow .second .inner ul{
	padding-top:0;
	padding-bottom:0;
	}
	.drop_down .second .inner ul li ul{
	top:0;
	}
	.drop_down .second .inner>ul, li.narrow .second .inner ul{
	border-style:solid;
	border-width:1px;
	}

	.drop_down .wide .second .inner>ul>li>a
	{
	 color: #272727; 			font-family: 'Roboto', sans-serif !important;
		 font-size: 12px; 	 line-height: 22px; 		font-weight: 500; 	 text-transform: none;  	 letter-spacing: 1px;  	}
	.drop_down .wide .second .inner>ul>li>a:hover{
	color: #272727 !important;
	}
	.drop_down .wide .second .inner ul li.sub ul li a,
	.drop_down .wide .second ul li ul li a,
	.drop_down .second .inner ul li.sub ul li a,
	.drop_down .wide .second ul li ul li a,
	.drop_down .wide .second .inner ul li.sub .flexslider ul li .menu_recent_post,
	.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a,
	.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post,
	.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a{
	 color: #aaaaaa;  			font-family: 'Roboto', sans-serif;
		 font-size: 13px;  		 font-style: normal;   	 font-weight: 400;  	 text-transform: none;  		}
	.drop_down .wide.icons .second i{
	 color: #aaaaaa;  	}
	.drop_down .second .inner ul li.sub ul li a:hover,
	.drop_down .wide .second ul li.show_widget_area_in_popup:hover .popup_wrapper > a,
	.drop_down .second .inner ul li ul li a:hover,
	.drop_down .wide.icons .second a:hover i
	{
	color: #aaaaaa !important;
	}



	header.sticky nav.main_menu > ul > li > a,
	header.light.sticky nav.main_menu > ul > li > a,
	header.dark.sticky nav.main_menu > ul > li > a{
	 color: #f9f9f9; 								}

	header.sticky .side_menu_button a,
	header.sticky .side_menu_button a:hover{
	 color: #f9f9f9; 	}

	header.sticky nav.main_menu > ul > li > a:hover span,
	header.sticky nav.main_menu > ul > li.active > a span,
	header.sticky nav.main_menu > ul > li:hover > a > span,
	header.sticky nav.main_menu > ul > li > a:hover > i,
	header.sticky nav.main_menu > ul > li:hover > a > i,
	header.sticky nav.main_menu > ul > li.active > a > i,
	.light.sticky nav.main_menu > ul > li > a:hover,
	.light.sticky nav.main_menu > ul > li.active > a,
	.dark.sticky nav.main_menu > ul > li > a:hover,
	.dark.sticky nav.main_menu > ul > li.active > a{
	color: #f9f9f9 !important;
	}








	h1,
	.h1,
	.title h1,
    body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title {
								text-transform: none; 	}
	.title h1{
							text-transform: none; 	}


	.title.title_size_medium h1{
					text-transform: none; 	}
	.title.title_size_large h1{
					text-transform: none; 	}
	h2,
	.h2,
	h2 a,
    body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
								text-transform: none; 	}
	h3,
	.h3,
	h3 a,
    body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
								text-transform: none; 	}
	h4,
	.h4,
	h4 a,
    body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
	color: #838383; 							text-transform: none; 	}
	h5,
	.h5,
	h5 a,
    body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title,
    .q_icon_with_title .icon_text_holder h5.icon_title{
								text-transform: none; 	}
	h6,
	.h6,
	h6 a,
    body.qode-overridden-elementors-fonts .elementor-widget-heading h6.elementor-heading-title {
								text-transform: none; 	}

	p,
    body.qode-overridden-elementors-fonts .elementor-widget-heading p.elementor-heading-title {
	color: #838383;								}
	.filter_holder ul li span,
	blockquote h5,
	.q_social_icon_holder .simple_social,
	.header-widget.widget_nav_menu ul.menu li a,
	.side_menu a,
	.side_menu li,
	.side_menu span,
	.side_menu p,
	.side_menu .widget.widget_rss li a.rsswidget,
	.side_menu #wp-calendar caption,
	.side_menu #wp-calendar th,
	.side_menu #wp-calendar td,
	aside .widget #lang_sel_list li a,
	aside .widget #lang_sel li a,
	aside .widget #lang_sel_click li a,
	.wpb_widgetised_column .widget #lang_sel_list li a,
	.wpb_widgetised_column .widget #lang_sel li a,
	.wpb_widgetised_column .widget #lang_sel_click li a,
    .elementor-widget.elementor-widget-sidebar .widget #lang_sel_list li a,
	.elementor-widget.elementor-widget-sidebar .widget #lang_sel li a,
	.elementor-widget.elementor-widget-sidebar .widget #lang_sel_click li a,
	section.side_menu #lang_sel_list li a,
	section.side_menu #lang_sel li a,
	section.side_menu #lang_sel_click li a,
	footer #lang_sel_list li a,
	footer #lang_sel li a,
	footer #lang_sel_click li a,
	footer #lang_sel_list.lang_sel_list_horizontal a,
	footer #lang_sel_list.lang_sel_list_vertical a,
	.side_menu #lang_sel_list.lang_sel_list_horizontal a,
	.side_menu #lang_sel_list.lang_sel_list_vertical a,
	#lang_sel_footer a{
	color: #838383;	}
	.header_top #lang_sel > ul > li > a,
	.header_top #lang_sel_click > ul > li> a,
	footer #lang_sel ul li a,
	footer #lang_sel ul ul a,
	footer #lang_sel_click ul li a,
	footer #lang_sel_click ul ul a,
	footer #lang_sel_click ul ul a span,
	section.side_menu #lang_sel ul li a,
	section.side_menu #lang_sel ul ul a,
	section.side_menu #lang_sel ul ul a:visited,
	section.side_menu #lang_sel_click > ul > li > a,
	section.side_menu #lang_sel_click ul ul a,
	section.side_menu #lang_sel_click ul ul a:visited{
	color: #838383 !important;	}
		a, p a{
		font-style: normal;	font-weight: 300;	text-decoration: none;	}

		a:hover,p a:hover,
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
	.q_tabs .tabs-nav li a:hover,
	.q_icon_with_title .icon_with_title_link:hover,
	.blog_holder article .post_description a:hover,
	.blog_holder.masonry article .post_info a:hover,
	.portfolio_social_holder a:hover,
	.latest_post_inner .post_infos a:hover{
		text-decoration: none;	}




















	.footer_top a
	{
	color: #a9a9a9 !important;
	}

	.footer_top .q_social_icon_holder .simple_social {
	color: #a9a9a9;
	}













	.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
	footer #lang_sel > ul > li > a,
	footer #lang_sel_click > ul > li > a,
	footer #lang_sel a.lang_sel_sel,
	footer #lang_sel_click a.lang_sel_sel,
	footer #lang_sel ul ul a,
	footer #lang_sel_click ul ul a,
	footer #lang_sel ul ul a:visited,
	footer #lang_sel_click ul ul a:visited,
	footer #lang_sel_list.lang_sel_list_horizontal a,
	footer #lang_sel_list.lang_sel_list_vertical a,
	#lang_sel_footer a,
	.footer_bottom ul li a {
	color:#ffffff;
	}


























	/*Blog Masonry Gallery - end */






























	.vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
	}

	.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
	}








	.vertical_menu_area{
	text-align:left;
	}
	











	nav.popup_menu ul li a,
	nav.popup_menu ul li h6{
	 color: #000000; 			font-family: 'Comic Sans MS', sans-serif;
								}

	.popup_menu.opened .line:after,
	.popup_menu.opened .line:before{
	background-color: #000000;
	}





		.popup_menu_holder{
	background-color: rgba(255,255,255,0.95);
	}

















































































	.pagination ul li a{
	color: #000000	}
	.pagination ul li a:hover, .pagination ul li span{
	color: #595959	}









	.masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
	text-align: center;	}


	.masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
	text-align: center;	}


	.masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
	text-align: center;	}


	.masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
	text-align: center;	}









				
		
		
								
					body{
						 color: #838383; 									}
							body,
				.wrapper,
				.content,
				.full_width,
				.overlapping_content .content > .container,
				.more_facts_holder,
				.comment_holder .comment #respond textarea,
				.comment_holder .comment #respond input[type='text'],
				.comment_holder .comment #respond input[type='email'],
				.content .container
				{
				background-color:#f6f6f6;
				}
				.angled-section polygon{
				fill: #f6f6f6;
				}
				
											
		
		
					.header_bottom,
			.header_top,
			.fixed_top_header .bottom_header{
			background-color: rgba(6,66,103,1);
			}

			
		
		
			.header_top,
			.header_bottom,
			.title,
			.drop_down .second .inner ul li,
			.header-widget.widget_nav_menu ul.menu li ul li a,
			.header_top #lang_sel ul li ul li a,
			.header_top #lang_sel ul li ul li a:visited,
			.header_top #lang_sel_click ul li ul li a,
			.header_top #lang_sel_click ul li ul li a:visited,
			.drop_down .second .inner > ul,
			.drop_down .second .inner>ul,
			li.narrow .second .inner ul,
			.drop_down .wide .second ul li,
			.drop_down .second ul li
			{
			border-color:#ffffff;
			}

									.title:not(.title_bottom_border_in_grid){
			border-bottom-color:#a5a5a5;
			}
							.title_border_in_grid_holder{
			background-color:#a5a5a5;
			}
											.breadcrumbs,
			.breadcrumb .current,
			.breadcrumb a{
			color:#020202;
			}
				
		


					header.sticky .header_bottom{
			background-color: rgba(6,66,103,1) !important;
			}
		
		
			.header_top,
			.fixed_top_header .top_header,
			.fixed_top_header nav.mobile_menu{
			background-color: rgba(26,57,86,1);
			}
				
									header:not(.sticky):not(.scrolled) .header_bottom .container_inner,
					header.fixed_top_header .bottom_header .container_inner{
					border-bottom: 1px solid rgba(255,255,255,1);
					}
												header.sticky .header_top{
			background-color: rgba(26,57,86,0.7);
			}
		
		
		
		

														.content{
					margin-top: -189px;
					}
				
					
					.logo_wrapper,
			.side_menu_button,
			.shopping_cart_inner
			{
			height: 95px;
			}
			.content.content_top_margin{
			margin-top: 128px !important;
			}

			header:not(.centered_logo) .header_fixed_right_area {
			line-height: 95px;
			}

								
					header.sticky .logo_wrapper,
			header.sticky.centered_logo .logo_wrapper,
			header.sticky .side_menu_button,
			header.sticky .shopping_cart_inner
			{
			height: 95px !important;
			}

			header.sticky nav.main_menu > ul > li > a,
			.light.sticky nav.main_menu > ul > li > a,
			.light.sticky nav.main_menu > ul > li > a:hover,
			.light.sticky nav.main_menu > ul > li.active > a,
			.dark.sticky nav.main_menu > ul > li > a,
			.dark.sticky nav.main_menu > ul > li > a:hover,
			.dark.sticky nav.main_menu > ul > li.active > a {
			line-height: 95px;
			}
		
		
		
						header.fixed_hiding .q_logo a,
				header.fixed_hiding .q_logo{
				max-height: 108px;
				}
				
		
		
		
					.touchevents .parallax_section_holder{
			height: auto !important;
			min-height: 300px;
			background-position: center top !important;
			background-attachment: scroll;
			background-size: cover;
			}
							nav.main_menu > ul > li > a{
			line-height: 95px;
			}
		
		
		
					nav.main_menu > ul > li > a{
			 color: #272727; 							font-family: 'Roboto', sans-serif;
						 font-size: 15px; 						 font-style: normal; 			 font-weight: 400; 			 letter-spacing: -0.1px; 			 text-transform: none; 			}

		
					nav.main_menu > ul > li:not(:first-child):before {
			color: #e2e2e2;
			}
		
					nav.main_menu ul li:hover a {
			 color: #272727; 			}
		
		
		

		

					.drop_down .second .inner > ul > li > a,
			.drop_down .second .inner > ul > li > h3,
			.drop_down .wide .second .inner > ul > li > h3,
			.drop_down .wide .second .inner > ul > li > a,
			.drop_down .wide .second ul li ul li.menu-item-has-children > a,
			.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a,
			.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5 a,
			.drop_down .wide .second .inner > ul li .flexslider ul li  h5 a,
			.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5,
			.drop_down .wide .second .inner > ul li .flexslider ul li  h5,
			.header_top #lang_sel ul li ul li a {
			 color: #272727; 							font-family: 'Roboto', sans-serif !important;
						 font-size: 12px; 			 line-height: 22px; 						font-weight: 500; 			 text-transform: none;  			 letter-spacing: 1px;  			}
							.drop_down .second .inner > ul > li > a:hover,
			.drop_down .wide .second ul li ul li.menu-item-has-children > a:hover,
			.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a:hover{
			color: #272727 !important;
			}
									.drop_down .second ul li{
			border-bottom-style:solid;
			}
			li.narrow .second .inner ul{
			padding-top:0;
			padding-bottom:0;
			}
			.drop_down .second .inner ul li ul{
			top:0;
			}
							.drop_down .second .inner>ul, li.narrow .second .inner ul{
			border-style:solid;
			border-width:1px;
			}

							.drop_down .wide .second .inner>ul>li>a
			{
			 color: #272727; 							font-family: 'Roboto', sans-serif !important;
						 font-size: 12px; 			 line-height: 22px; 						font-weight: 500; 			 text-transform: none;  			 letter-spacing: 1px;  			}
							.drop_down .wide .second .inner>ul>li>a:hover{
			color: #272727 !important;
			}
							.drop_down .wide .second .inner ul li.sub ul li a,
			.drop_down .wide .second ul li ul li a,
			.drop_down .second .inner ul li.sub ul li a,
			.drop_down .wide .second ul li ul li a,
			.drop_down .wide .second .inner ul li.sub .flexslider ul li .menu_recent_post,
			.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a,
			.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post,
			.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a{
			 color: #aaaaaa;  							font-family: 'Roboto', sans-serif;
						 font-size: 13px;  						 font-style: normal;   			 font-weight: 400;  			 text-transform: none;  						}
			.drop_down .wide.icons .second i{
			 color: #aaaaaa;  			}
							.drop_down .second .inner ul li.sub ul li a:hover,
			.drop_down .wide .second ul li.show_widget_area_in_popup:hover .popup_wrapper > a,
			.drop_down .second .inner ul li ul li a:hover,
			.drop_down .wide.icons .second a:hover i
			{
			color: #aaaaaa !important;
			}
		

						
					header.sticky nav.main_menu > ul > li > a,
			header.light.sticky nav.main_menu > ul > li > a,
			header.dark.sticky nav.main_menu > ul > li > a{
			 color: #f9f9f9; 																								}
		
					header.sticky .side_menu_button a,
			header.sticky .side_menu_button a:hover{
			 color: #f9f9f9; 			}
		
					header.sticky nav.main_menu > ul > li > a:hover span,
			header.sticky nav.main_menu > ul > li.active > a span,
			header.sticky nav.main_menu > ul > li:hover > a > span,
			header.sticky nav.main_menu > ul > li > a:hover > i,
			header.sticky nav.main_menu > ul > li:hover > a > i,
			header.sticky nav.main_menu > ul > li.active > a > i,
			.light.sticky nav.main_menu > ul > li > a:hover,
			.light.sticky nav.main_menu > ul > li.active > a,
			.dark.sticky nav.main_menu > ul > li > a:hover,
			.dark.sticky nav.main_menu > ul > li.active > a{
			color: #f9f9f9 !important;
			}
		
		
		
				
						
		
		
		
					h1,
			.h1,
			.title h1,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title{
																								text-transform: none; 			}
							.title h1{
																					text-transform: none; 			}
		
		
							.title.title_size_medium h1{
															text-transform: none; 			}
							.title.title_size_large h1{
															text-transform: none; 			}
							h2,
			.h2,
			h2 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
																								text-transform: none; 			}
							h3,
			.h3,
			h3 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
																								text-transform: none; 			}
							h4,
			.h4,
			h4 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			color: #838383; 																					text-transform: none; 			}
							h5,
			.h5,
			h5 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title,
			.q_icon_with_title .icon_text_holder h5.icon_title{
																								text-transform: none; 			}
							h6,
			.h6,
			h6 a,
            body.qode-overridden-elementors-fonts .elementor-widget-heading h6.elementor-heading-title {
																								text-transform: none; 			}

		

					p,
            body.qode-overridden-elementors-fonts .elementor-widget-heading p.elementor-heading-title {
			color: #838383;																								}
			.filter_holder ul li span,
			blockquote h5,
			.q_social_icon_holder .simple_social,
			.header-widget.widget_nav_menu ul.menu li a,
			.side_menu a,
			.side_menu li,
			.side_menu span,
			.side_menu p,
			.side_menu .widget.widget_rss li a.rsswidget,
			.side_menu #wp-calendar caption,
			.side_menu #wp-calendar th,
			.side_menu #wp-calendar td,
			aside .widget #lang_sel_list li a,
			aside .widget #lang_sel li a,
			aside .widget #lang_sel_click li a,
			.wpb_widgetised_column .widget #lang_sel_list li a,
			.wpb_widgetised_column .widget #lang_sel li a,
			.wpb_widgetised_column .widget #lang_sel_click li a,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_list li a,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel li a,
            .elementor-widget.elementor-widget-sidebar .widget #lang_sel_click li a,
			section.side_menu #lang_sel_list li a,
			section.side_menu #lang_sel li a,
			section.side_menu #lang_sel_click li a,
			footer #lang_sel_list li a,
			footer #lang_sel li a,
			footer #lang_sel_click li a,
			footer #lang_sel_list.lang_sel_list_horizontal a,
			footer #lang_sel_list.lang_sel_list_vertical a,
			.side_menu #lang_sel_list.lang_sel_list_horizontal a,
			.side_menu #lang_sel_list.lang_sel_list_vertical a,
			#lang_sel_footer a{
			color: #838383;			}
			.header_top #lang_sel > ul > li > a,
			.header_top #lang_sel_click > ul > li> a,
			footer #lang_sel ul li a,
			footer #lang_sel ul ul a,
			footer #lang_sel_click ul li a,
			footer #lang_sel_click ul ul a,
			footer #lang_sel_click ul ul a span,
			section.side_menu #lang_sel ul li a,
			section.side_menu #lang_sel ul ul a,
			section.side_menu #lang_sel ul ul a:visited,
			section.side_menu #lang_sel_click > ul > li > a,
			section.side_menu #lang_sel_click ul ul a,
			section.side_menu #lang_sel_click ul ul a:visited{
			color: #838383 !important;			}
										a, p a{
						font-style: normal;			font-weight: 300;			text-decoration: none;			}

										a:hover,p a:hover,
			h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
			.q_tabs .tabs-nav li a:hover,
			.q_icon_with_title .icon_with_title_link:hover,
			.blog_holder article .post_description a:hover,
			.blog_holder.masonry article .post_info a:hover,
			.portfolio_social_holder a:hover,
			.latest_post_inner .post_infos a:hover{
						text-decoration: none;			}
		

		
				
				
		
		

		
		
		
										
		
		
		
		
		
		
		
									.footer_top a:not(.qbutton)
			{
			color: #a9a9a9 !important;
			}

			.footer_top .q_social_icon_holder .simple_social {
			color: #a9a9a9;
			}
				
		
		
		
		

		
		
		
		
		
		
		
					.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
			footer #lang_sel > ul > li > a,
			footer #lang_sel_click > ul > li > a,
			footer #lang_sel a.lang_sel_sel,
			footer #lang_sel_click a.lang_sel_sel,
			footer #lang_sel ul ul a,
			footer #lang_sel_click ul ul a,
			footer #lang_sel ul ul a:visited,
			footer #lang_sel_click ul ul a:visited,
			footer #lang_sel_list.lang_sel_list_horizontal a,
			footer #lang_sel_list.lang_sel_list_vertical a,
			#lang_sel_footer a,
			.footer_bottom ul li a {
			color:#ffffff;
			}
		
		
		
		

		

		
		

												
										
								
								
										
										
								
								
		
														
								
								
								
				
						
						
		/*Blog Masonry Gallery - end */

								
						
						
								
												
								

		
						
				
		

		
				

										
		

												
				
				
		
								
								
								
		
																																																				
				
		
		.vertical_menu_float .menu-item .second{
		left: calc(100% + 30px); /*because of the padding*/
		}

		.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
		left: calc(100% + 40px);
		}


		
		
		
		


							.vertical_menu_area{
			text-align:left;
			}
			
		
		
		
		
		

		
		
		
		
		
			nav.popup_menu ul li a,
			nav.popup_menu ul li h6{
			 color: #000000; 							font-family: 'Comic Sans MS', sans-serif;
																								}
		
					.popup_menu.opened .line:after,
			.popup_menu.opened .line:before{
			background-color: #000000;
			}

		
		
		
		
								.popup_menu_holder{
			background-color: rgba(255,255,255,0.95);
			}

		
		
		
																																
		
		
				
		
		
		
				
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
				
		
		
		
		
		
		
		
		


		
		
				
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		
		

		
		
		
		
					.pagination ul li a{
			color: #000000			}
					.pagination ul li a:hover, .pagination ul li span{
			color: #595959			}
		

		
		

		
		
		
								
		
		
				
				
				
				
										

		
		
		
	    div.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .button:hover {
	    	    	   }

														

						
		

		
				    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
				    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
				    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		
		
				    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
			text-align: center;		    }
		

	
						
		
		

				
.qode-accordion-holder .qode-title-holder { text-transform: none;font-style: normal;}

.qode-advanced-tabs .qode-advanced-tabs-nav li a { color: #9c9c9c;}

.qode-advanced-tabs .qode-advanced-tabs-nav li { background-color: #f6f6f6;}

.qode-advanced-tabs.qode-advanced-horizontal-tab .qode-advanced-tabs-nav li.ui-state-active a { color: #000000;}

.qode-btn { text-transform: none;font-style: normal;}

.qode-report-sheet .qode-rs-table .qode-rs-table-content .qode-rs-table-row, .qode-report-sheet .qode-rs-table .qode-rs-table-header { border-color: #dd3333;}

