.space8 p, .space-8 p {
    padding-bottom:8px;
}

.space16 p, .space-16 p {
    padding-bottom:16px;
}

.space32 p, .space-32 p {
    padding-bottom:32px;
}

.space48 p, .space-48 p {
    padding-bottom:48px;
}

.space64 p, .space-64 p {
    padding-bottom:64px;
}


.width25{
	width:25%;
}

.width50{
	width:50%;
}

.width100{
	width:100%;
}


.q_icon_with_title.qode_iwt_hover_enabled {
    padding: 45px 20px;
    box-shadow: 0 7px 16px rgba(0,0,0,.5);
}

.qode_iwt_hover_enabled:hover {
    background-color: #fff;
    box-shadow: 0 7px 16px rgb(30,115,190,0.5) !important;
}

/* accessibility plugins */
#spellcast_toolbar table tbody tr td {
    border: none;
}


#back_to_top.on {
    right: 80px !important;
}

#back_to_top {
    bottom: 25px !important;
}


#spellcast_toolbar {
    bottom: 90px !important;
}

body .uwy.userway_p3 {
    top: auto !important;
    bottom: 33px !important;
    right: 6px !important;
}

.userway-s3-1, .userway-s3-1-ff {
    filter: invert(0) !important;
    -webkit-filter: invert(0) !important;
}

.userway-s3-1 body > .wrapper, .userway-s3-1-ff body > .wrapper {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%) !important;
}
